body {
	background-color: white;
}
* {
	font-family: sans-serif;
}

.username {
	color: #207cb9;
}

table { 
    border-spacing: 0;
    border-collapse: collapse;
	border: 2px solid white;
}



input[type=button], input[type=submit], input[type=reset] {
	border: none;
	background-color: #207cb9;
	color: white;
	padding: 0.5em;
	border-radius: 0.5em;
	margin: 0.25em;
}
input:disabled {
	opacity: 0.5;
}


input[type=text], input[type=password], input[type=time], select {
	background-color: white;
	padding: 0.5em;
	border: none;
	border-radius: 0.5em;
	margin: 0.25em;
}

.container {
	margin: 1em;
	padding: 1em;
	background-color: silver;
	border-radius: 1em;
}

.center {
	min-width: 50%;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

th, td {
	padding: 0.75em;
}
th {
	background-color: #207cb9;
	color: white;
}
th:not(:first-child) {
	border-left: 2px dotted white;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}


.alert {
	margin: 1em;
	padding: 1em;
	border-radius: 1em;
	background-color: rgba(255, 50, 28, 0.815);
	border: 2px solid red;
	color: white;
	font-weight: bold;

	filter: drop-shadow(0 0 0.25em black);

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}