<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zarządzanie systemem drzwi</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% for category,alert in alerts %}
<div class="alert-{{ category }}" onclick="this.style.display = 'none';">{{ alert }}</div>
{% endfor %}

<div class="center">

<div class="container">
    <h1>Witaj, <span class="username">{{ admin.display_name }}</span>!</h1>
    <form action="/logout">
        <input type="submit" value="Wyloguj się"/>
    </form>
</div>

{% if code is not none or bind_code is not none %}
<div class="container">
    {% if code is not none %}
    <h1>Kod jednorazowy: <em>{{ code }}</em></h1>
    {% endif %}
    {% if bind_code is not none %}
        <h1>Kod rejestracji karty: <em>{{ bind_code }}</em></h1>
    {% endif %}
</div>
{% endif %}

<div class="container">
    <h2>Aktualnie w pomieszczeniu:</h2>
    <table>
        <tr>
            <th>Użytkownik</th>
            <th>Pobyt od</th>
        </tr>
        {% if presences %}
            {% for presence in presences %}
                <tr>
                    <td>{{ presence.user_name }}</td>
                    <td>{{ presence.date }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td>(brak)</td><td></td></tr>
        {% endif %}
    </table>
</div>

<div class="container">
    <h2>Konfiguracja:</h2>
    <form action="/config" method="POST">
        Limit osób: <input type="number" name="user_limit" value="{{ config.user_limit }}" min="1">
        <br>
        <label>
            <input type="checkbox" name="generate_codes" {% if config.generate_codes == 1 %}checked{% endif %}>
            Generuj kody jednorazowe
        </label>
        <br>
        Czas kodów jednorazowych: <input type="number" name="code_lifetime" value="{{ config.code_lifetime }}" min="1"> s
        <br>
        <label>
            <input type="checkbox" name="enforce_access_hours" {% if config.enforce_access_hours == 1 %}checked{% endif %}>
            Sprawdzaj godziny wejścia
        </label>
        <br>
        <label>
            <input type="checkbox" name="require_password" {% if config.require_password == 1 %}checked{% endif %}>
            Wymagaj hasła
        </label>
        <br>
        <input type="submit" value="Wprowadź zmiany"/>
    </form>
</div>

<div class="container">
    <h2>Użytkownicy:</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Użytkownik</th>
            <th>Imię i Nazwisko</th>
            <th>Typ</th>
            <th>ID Karty</th>
            <th></th>
        </tr>
        {% if users %}
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.display_name }}</td>
                <td>{{ user.type }}</td>
                <td>{{ user.card_id }}</td>
                <td>
                    {% if user.type != 'A' %}
                    <form action="/userdelete/{{user.id}}">
                        <input type="submit" value="Usuń"/>
                    </form>
                    {% else %}
                    <input type="button" value="Usuń" title="Nie można usunąć innych administratorów!" disabled/>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td></td><td>(brak)</td><td></td><td></td><td></td><td></td></tr>
        {% endif %}
    </table>

    <h3>Zarejestruj użytkownika:</h3>
    <form action="/useradd" method ="POST">

        <input type= "text" name="name" placeholder="Nazwa Użytkownika" required>
        <br>
        <input type= "text" name="display_name" placeholder="Imię i Nazwisko" required>
        <br>
        <input type= "password" name="passwd" placeholder="Hasło" required>
        <br>
        <label>
            <input type="checkbox" name="is_admin", value="true">
            Uprawnienia administratora
        </label>
        <br>
        <input type="submit" value="Zajerestruj">

    </form>
</div>

<div class="container">
    <h2>Prawa dostępu:</h2>
    <table>
        <tr>
            <th>Użytkownik</th>
            <th>Dzień tygodnia</th>
            <th>Godziny</th>
            <th></th>
        </tr>
        {% if access_hours %}
            {% for ah in access_hours %}
            <tr>
                <td>{{ ah.user_name }}</td>
                <td>{{ ah.week_day_name }}</td>
                <td>{{ ah.start_hour_formatted }} - {{ ah.end_hour_formatted }}</td>
                <td>
                    <form action="/permsdelete/{{ah.id}}">
                        <input type="submit" value="Usuń"/>
                    </form>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td>(brak)</td><td></td><td></td><td></td></tr>
        {% endif %}
    </table>

    <h3>Dodaj prawa dostępu:</h3>
    <form action="/permsadd" method ="POST">
        Użytkownik:
        <select name="user_id">
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.display_name }} ({{ user.name }})</option>
            {% endfor %}
        </select>
        <br>
        Dzień tygodnia:
        <select name="week_day">
            <option value="" selected disabled hidden>Wybierz...</option>
            <option value="1">Poniedziałek</option>
            <option value="2">Wtorek</option>
            <option value="3">Środa</option>
            <option value="4">Czwartek</option>
            <option value="5">Piątek</option>
            <option value="6">Sobota</option>
            <option value="7">Niedziela</option>
        </select>
        <br>
        Godziny dostępu:
        <input type="time", name="start_hour" required> - <input type="time", name="end_hour" required>
        <br>
        <input type="submit" value="Dodaj"/>
    </form>
</div>

<div class="container">
    <h2>Log aktywności:</h2>
    <table>
        <tr>
            <th>Log</th>
        </tr>
        {% if logs %}
            {% for log in logs %}
            <tr>
                <td>
                    {{ log }}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td>(brak)</td></tr>
        {% endif %}
    </table>
</div>

</div>
</body>
</html>
