<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zarządzanie systemem drzwi</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div>
    <h1>Witaj, <span class="username">{{ admin }}</span>!</h1>
</div>

<div>
    <h2>Użytkownicy:</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Użytkownik</th>
            <th>Imię i Nazwisko</th>
            <th>Typ</th>
            <th>ID Karty</th>
            <th></th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.imie_nazwisko }}</td>
                <td>{{ user.is_admin }}</td>
                <td>{{ user.card_id }}</td>
                <td>
                    {% if user.is_admin != 'A' %}
                    <form action="/delete/{{user.id}}">
                        <input type="submit" value="Usuń"/>
                    </form>
                    {% else %}
                    <input type="button" value="Usuń" title="Nie można usunąć innych administratorów!" disabled/>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h3>Zarejestruj użytkownika:</h3>
    <form action="/admin" method ="POST">

        <input type= "text" name="name" placeholder="Nazwa Użytkownika">
        <br>
        <input type= "text" name="fullname" placeholder="Imię i Nazwisko">
        <br>
        <label>
            <input type="checkbox" name="is_admin", value="true">
            Uprawnienia administratora
        </label>
        <br>
        <input type="submit" value="Zajerestruj">

    </form>
</div>

<div>
    <h2>Prawa dostępu:</h2>
    <table>
        <tr>
            <th>Użytkownik</th>
            <th>Dzień tygodnia</th>
            <th>Godziny</th>
            <th></th>
        </tr>
        {% for ah in access_hours %}
            <tr>
                <td>{{ ah.user_name }}</td>
                <td>{{ ah.week_day_name }}</td>
                <td>{{ ah.start_hour_formatted }} - {{ ah.end_hour_formatted }}</td>
                <td>
                    <form action="/permsdelete/{{ah.id}}">
                        <input type="submit" value="Usuń"/>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h3>Dodaj prawa dostępu:</h3>
    <form action="/permsadd" method ="POST">
        Użytkownik:
        <select name="user_id">
            {% for user in users %}
            <option value="{{ user.id }}">{{ user.imie_nazwisko }} ({{ user.name }})</option>
            {% endfor %}
        </select>
        <br>
        Dzień tygodnia:
        <select name="week_day">
            <option value="" selected disabled hidden>Wybierz...</option>
            <option value="1">Poniedziałek</option>
            <option value="2">Wtorek</option>
            <option value="3">Środa</option>
            <option value="4">Czwartek</option>
            <option value="5">Piątek</option>
            <option value="6">Sobota</option>
            <option value="7">Niedziela</option>
        </select>
        <br>
        Godziny dostępu:
        <input type="time", name="start_hour" required> - <input type="time", name="end_hour" required>
        <br>
        <input type="submit" value="Dodaj"/>
    </form>
</div>

<div>
    <h2>Log aktywności:</h2>
    <table>
        <tr>
            <th>Log</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>
                {{ log }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
