<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twoje konto w systemie drzwi</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>

<div>
    <h1>Witaj, <span class="username">{{ user.imie_nazwisko }}</span>!</h1>
</div>

<div>
    <h1>Kod jednorazowy: <em>{{ code }}</em>!</h1>
</div>


<div>
    <h2>Prawa dostępu:</h2>
    <table>
        <tr>
            <th>Dzień tygodnia</th>
            <th>Godziny</th>
        </tr>
        {% for ah in access_hours %}
            <tr>
                <td>{{ ah.week_day_name }}</td>
                <td>{{ ah.start_hour_formatted }} - {{ ah.end_hour_formatted }}</td>
            </tr>
        {% endfor %}
    </table>
</div>


<div>
    <h2>Log aktywności:</h2>
    <table>
        <tr>
            <th>Log</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>
                {{ log }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

</body>
</html>
