<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twoje konto w systemie drzwi</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% for category,alert in alerts %}
<div class="alert-{{ category }}" onclick="this.style.display = 'none';">{{ alert }}</div>
{% endfor %}

<div class="center">

<div class="container">
    <h1>Witaj, <span class="username">{{ user.display_name }}</span>!</h1>
    <form action="/logout">
        <input type="submit" value="Wyloguj się"/>
    </form>
</div>

{% if code is not none or bind_code is not none %}
<div class="container">
    {% if code is not none %}
    <h1>Kod jednorazowy: <em>{{ code }}</em></h1>
    {% endif %}
    {% if bind_code is not none %}
        <h1>Kod rejestracji karty: <em>{{ bind_code }}</em></h1>
    {% endif %}
</div>
{% endif %}

<div class="container">
    <h2>Prawa dostępu:</h2>
    <table>
        <tr>
            <th>Dzień tygodnia</th>
            <th>Godziny</th>
        </tr>
        {% if access_hours %}
            {% for ah in access_hours %}
            <tr>
                <td>{{ ah.week_day_name }}</td>
                <td>{{ ah.start_hour_formatted }} - {{ ah.end_hour_formatted }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td>(brak)</td><td></td></tr>
        {% endif %}
    </table>
</div>

<div class="container">
    <h2>Log aktywności:</h2>
    <table>
        <tr>
            <th>Log</th>
        </tr>
        {% if logs %}
            {% for log in logs %}
            <tr>
                <td>
                    {{ log }}
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td>(brak)</td></tr>
        {% endif %}
    </table>
</div>

</div>
</body>
</html>
