<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logowanie do systemu iDoor</title>

    <style>
        body {
            background-color: white;
        }
        * {
            font-family: sans-serif;
        }
        div {
            margin: 1em;
            padding: 1em;
            background-color: silver;
            border-radius: 1em;
        }
    </style>
</head>
<body>

<div>
    <h1>Witaj, {{ user.imie_nazwisko }}!</h1>
</div>

<div>
    <h1>Kod jednorazowy: {{ code }}!</h1>
</div>

</body>
</html>
